path[data-v-15ee8bc1] {
  stroke: #fff;
}

.guide-link[data-v-493be59f] {
  display: inline-flex;
  align-items: flex-end;
}

.guide-link__label[data-v-493be59f] {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #fffc;
}

@media (max-width: 750px) {
  .guide-link__label[data-v-493be59f] {
    font-size: 3.733vw;
    line-height: 4.667vw;
  }
}

.guide-link__icon[data-v-493be59f] {
  margin-left: 6px;
  width: 10px;
  height: 10px;
}

@media (max-width: 750px) {
  .guide-link__icon[data-v-493be59f] {
    margin-left: 2.133vw;
    width: 2.667vw;
    height: 2.667vw;
  }
}

.guide-bar-wrapper[data-v-42e7f451] {
  z-index: var(--toast-z-index);
  position: fixed;
  top: 90px;
  right: 0;
  left: 0;
  text-align: right;
  pointer-events: none;
}

.guide-bar[data-v-42e7f451] {
  position: relative;
  pointer-events: auto;
  text-align: left;
  padding: 21px 56px 22px 24px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  background-image: url(/assets/welcome_bg-BYGSCogm.webp);
  background-size: 100% 100%;
}

@media (max-width: 750px) {
  .guide-bar[data-v-42e7f451] {
    width: 100%;
    padding: 5.867vw 2.667vw 5.733vw 6.4vw;
  }
}

.guide-bar__icon[data-v-42e7f451] {
  width: 28px;
}

@media (max-width: 750px) {
  .guide-bar__icon[data-v-42e7f451] {
    width: 7.467vw;
  }
}

.guide-bar__right[data-v-42e7f451] {
  margin-left: 18px;
  flex: 1;
}

@media (max-width: 750px) {
  .guide-bar__right[data-v-42e7f451] {
    margin-left: 4.8vw;
  }
}

.guide-bar__right__title[data-v-42e7f451] {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

@media (max-width: 750px) {
  .guide-bar__right__title[data-v-42e7f451] {
    margin-bottom: 0.933vw;
    font-size: 4.8vw;
    line-height: 6vw;
  }
}

.guide-bar__close[data-v-42e7f451] {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 12px;
  height: 12px;
  font-size: 0;
}

.guide-bar__close__icon[data-v-42e7f451] {
  width: 100%;
  height: 100%;
}

@media (max-width: 750px) {
  .guide-bar__close[data-v-42e7f451] {
    top: 4vw;
    right: 4vw;
    width: 3.2vw;
    height: 3.2vw;
  }
}
